<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Language" content="en">
    <meta name="description" content="">
    <meta name="author" content="Lindsay Roberts">

    <title><%=title %></title>

    <!-- Core CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap.dashboard.css">
    <link rel="stylesheet" href="/css/dashboard.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="//use.fonticons.com/9b071e54.js"></script>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
</head>

<body id="account">
    <!-- Mobile Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header col-sm-3 col-md-2">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#"><%= data.firstname %> <%= data.lastname %></a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <img class="logo" src="/img/logo.svg" />
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Pro Suggestions</a></li>
                    <li><a href="#">Premium Suggestions</a></li>
                    <li><a href="#">Platinum Suggestions</a></li>
                </ul>
            </div>
        </div>
    </nav> <!-- End Mobile Navigation -->

    <div class="container-fluid">
        <div class="row">

            <!-- Sidebar Navigation -->
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="sidebar-heading"><i class="fa fa-flask"></i> Suggestions</li>
                    <li><a href="#">Pro Suggestions <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Premium Suggestions</a></li>
                    <li><a href="#">Platinum Suggestions</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li class="sidebar-heading"><i class="fa fa-line-chart"></i> Our Portfolios</li>
                    <li><a href="#">Pro Portfolio</a></li>
                    <li><a href="#">Premium Portfolio</a></li>
                    <li><a href="#">Platinum Portfolio</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li class="sidebar-heading"><i class="fa fa-user"></i> Firstname Lastname</li>
                    <li><a href="/portfolio">My Portfolio</a></li>
                    <li class="active"><a href="/account">My Account</a></li>
                    <li><a href="/logout">Sign Out</a></li>
                </ul>
            </div>

            <!-- Account Information -->
            <div id="account-information" class="col-sm-5 col-sm-offset-3 col-md-5 col-md-offset-2 main">
                <!-- User Information -->
                <div class="suggestion">
                    <div class="suggestionTitle">
                        <h1>Account Information</h1>
                        <!-- <button class="adv-data-btn"><i class="fa fa-pencil-square-o"></i></button> -->
                        <div class="clear"></div>
                    </div>

                    <div class="suggestionData">
                        <div class="inner-content">
                            <p><b>NAME</b><br />
                            <%= data.firstname %> <%= data.lastname %></p>

                            <p><b>EMAIL</b><br />
                            <%= data.email %></p>
                        </div>

                        <div class="clear"></div>
                    </div>
                </div> <!-- End User Information -->

                <!-- Change Password -->
                <div class="suggestion">
                    <div class="suggestionTitle">
                        <h1>Change My Password</h1>
                        <div class="clear"></div>
                    </div>

                    <div class="suggestionData">
                        <div class="inner-content">
                            <form class="form-horizontal">
                                <fieldset>
                                    <div class="form-group">
                                        <label for="old_password" class="col-lg-3 control-label"><i class="fa fa-unlock"></i></label>
                                        <input type="password" class="form-control lg" id="old_password" name="old_password" placeholder="Old Password" tabindex="1">
                                    </div>

                                    <div class="form-group">
                                        <label for="new_password" class="col-lg-3 control-label"><i class="fa fa-unlock-alt"></i></label>
                                        <input type="password" class="form-control lg" id="new_password" name="new_password" placeholder="New Password" tabindex="2">
                                    </div>

                                    <div class="form-group">
                                        <label for="confirm_password" class="col-lg-3 control-label"><i class="fa fa-lock"></i></label>
                                        <input type="password" class="form-control lg" id="confirm_password" name="confirm_password" placeholder="Confirm Password" tabindex="3">
                                    </div>

                                    <div class="form-group button-group">
                                        <button type="submit" id="changePassword" class="dashboard-btn">Change Password</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>

                        <div class="clear"></div>
                    </div>
                </div> <!-- End Change Password -->
            </div> <!-- End Account Information -->

            <!-- Subscription Information -->
            <div id="subscription-information" class="col-sm-4 col-md-5 main">
                <div class="suggestion">
                    <div class="suggestionTitle">
                        <h1>My Subscription</h1>
                        <div class="clear"></div>
                    </div>

                    <div class="suggestionData">
                        <div class="inner-content">
                            <p><b><span class="billing-formula">PLATINUM FORMULA</span></b><br />
                            <span class="billing-rate">$20,000.00 Annually</span></p>

                            <p><b>Status:</b> <span class="billing-status billing-status-active">Active</span></p>
                            <p><b>Next Billing Date:</b> <span class="billing-date">March 17, 2016</span></p>

                            <button class="dashboard-btn">Edit My Subscription</button>
                            <button class="dashboard-btn bad-action">Cancel My Account</button>
                        </div>
                    <div class="clear"></div>
                </div>
            </div> <!-- End Subscription Information -->

        </div> <!-- End Row -->
    </div> <!-- End Container -->

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/ie10-viewport-bug-workaround.js"></script>

    

    <!-- Custom JavaScript -->
    <script src="/js/main.min.js"></script>
</body>
</html>
