<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%=title %></title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/portal.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- <script src="//use.fonticons.com/9b071e54.js"></script> -->

    <!-- jQuery & jQuery UI -->
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
</head>

<body id="billing">
<section>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-lg-offset-4 col-sm-8 col-sm-offset-2">
				<a href="/"><img src="../img/flask.svg" alt="Formula Stocks" class="flask" /></a>

				<form id="signup" class="text-center" method="post">
					<h2>Billing Information</h2>

					<% for(var i in messages) { %>
						<div class="alert alert-danger">
							<p><strong><i class="fa fa-times-circle"></i> Error!</strong><%= messages[i] %></p>
						</div>
					<% } %>

					<p><b>Name:</b> <%=form_data.firstname%> <%=form_data.lastname%></p>
					<p><b>Email:</b> <%=form_data.email%></p>
					<p><b>Plan:</b> <%=form_data.plan%> Formula <%=form_data.cycle%> Subscription</p>

					<div class="col-lg-12 col-sm-12">
						<div class="form-group">
							<input type="text" id="number" name="number" data-stripe="number" class="form-control" placeholder="Card number" required="">
							<label for="number"><i class="fa fa-credit-card"></i></label>
						</div>
					</div>

					<div class="col-lg-6 col-sm-6 no-padding-left">
						<div class="form-group">
							<input type="text" id="exp-date" class="form-control" placeholder="MM/YYYY" required="">
							<input type="hidden" id="exp-month" name="exp-month" data-stripe="exp-month" />
							<input type="hidden" id="exp-year" name="exp-year" data-stripe="exp-year" />
							<label for="exp-date"><i class="fa fa-calendar-o"></i></label>
						</div>
					</div>

					<div class="col-lg-6 col-sm-6 no-padding-right">
						<div class="form-group">
							<input type="password" id="cvc" name="cvc" data-stripe="cvc" class="form-control" placeholder="CVC code" required="">
							<label for="cvc"><i class="fa fa-ellipsis-h"></i></label>
						</div>
					</div>


					<div class="col-lg-12 col-sm-12">
						<p class="total-label">Total Amount Due:<br/> <span class="total">$<span class="amount-due"><%=form_data.total_price %>
						</span></span></p>
					</div>

					<input type="hidden" value="" id="bot-check" />

					<p class="agreement">By creating an account, you agree to Formula Stock's <a href="#">Terms &amp; Conditions</a>.</p>

					<div class="alert alert-danger validation" style="display: none;">
						<p><strong><i class="fa fa-times-circle"></i> Error!</strong> <span class="error-message"></span></p>
					</div>
					
					<button class="btn btn-lg btn-primary btn-block" type="submit">Submit Payment &amp; Sign Up</button>					

					<p>Already have an account? <a href="/login">Sign in.</a></p>
				</form>
			</div>
		</div>
	</div>
</section>

	<!-- Main JavaScript -->
	<!-- <script src="/js/main.min.js"></script> -->
	<script src="/js/forms.min.js"></script>
</body>

</html>