<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%=title %></title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="/css/theme.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/main.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="//use.fonticons.com/9b071e54.js"></script>
</head>

<body>
    <!-- Navigation -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="icon icon-formula-stocks-logo icon"></i> Formula Stocks</a>
        </div>

        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-section-title"><i class="fa fa-flask"></i> Suggestions</li>
                <li><a href="#">Pro Formula Suggestions</a></li>
                <li><a href="#">Premium Formula Suggestions</a></li>
                <li><a href="#">Platinum Formula Suggestions</a></li>
                <li class="nav-section-title"><i class="fa fa-line-chart"></i> Our Portfolios</li>
                <li><a href="#">Pro Portfolio</a></li>
                <li><a href="#">Premium Portfolio</a></li>
                <li><a href="#">Platinum Portfolio</a></li>
                <li class="nav-section-title"><i class="fa fa-user"></i> Firstname Lastname</li>
                <li><a href="#">My Portfolio</a></li>
                <li><a href="#">My Account</a></li>
                <li><a href="/logout">Sign Out</a></li>
            </ul>
            <!-- <form class="navbar-form navbar-left">
                <input type="text" class="form-control col-lg-8" ng-model="asset" placeholder="Search">
            </form> -->
        </div>
    </div>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <div class="asset_table">
                    <h4>Suggested Actions</h4>
                    <p></p>
                    <!-- <p class="subheader">Last updated 2 day ago.</p> -->
                    <table>
                    	<thead>
                    		<th>Action</th>
                    		<th>Asset</th>
                    		<th>Ticker</th>
                    		<th>Allocation</th>
                    		<th>Suggested Price</th>
                    		<th>Current Price</th>
                    	</thead>
                    	<tbody>
                    	<%
                        data.suggested_actions.forEach(function(el, index) {
                            %>
                            <tr>
                                <%
                                if(el.action == 'BUY') {
                                    %>
                                    <td><p><span class="label label-success"><%= el.action %></span></p></td>
                                    <%
                                } else {
                                    %>
                                    <td><p><span class="label label-danger"><%= el.action %></span></p></td>
                                    <%
                                }
                                %>
                                <td><p><%= el.asset %></p></td>
                                <td><p><%= el.ticker %></p></td>
                                <td><p><%= el.allocation %>% <span class="subheader">(<%= el.suggested_count %> Stocks)</span></p></td>
                                <td><p>$<%= el.suggested_price %></p></td>
                                <%
                                if(el.current_price > el.suggested_price) {
                                    %>
                                    <td><p class="positive">$<%= el.current_price %></p></td>
                                    <%
                                } else {
                                    %>
                                    <td><p class="negative">$<%= el.current_price %></p></td>
                                    <%
                                }
                                %>
                            </tr>
                            <%
                        });
                        %>
                    	</tbody>
                    </table>
                </div> <!-- End, Suggested Actions -->

                <div class="asset_table">
                    <h4>My Formula Stocks</h4>
                    <p class="subheader investment">Based on an investment of $<%= data.fs_invested %></p>
                    <p class="subheader capital">Investment capital: $<%= data.investment_capital %></p>
                     <table>
                        <thead>
                            <th>Asset</th>
                            <th>Ticker</th>
                            <th>Allocation</th>
                            <th>Value</th>
                            <th>Price</th>
                            <th>Sell</th>
                        </thead>
                        <tbody>
                        <%
                        data.my_formula_stocks.forEach(function(el, index) {
                            %>
                            <tr>
                                <td><p><%= el.asset %></p></td>
                                <td><p><%= el.ticker %></p></td>
                                <td>
                                    <p class="allocation"><%= el.allocation %>%</p>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" style="width: <%= el.allocation %>%"></div>
                                    </div>
                                </td>
                                <td><p>$<%= el.value %></p></td>
                                <td><p>$<%= el.price %></p></td>
                                <td>
                                    <form action="/assets/sell" method="post" class="hidden-form">
                                        <input type="hidden" name="ticker" value="<%= el.ticker %>">
                                        <input type="hidden" name="current_price" value="<%= el.price %>">
                                        <button type="submit" class="del-btn-none"><i class="fa fa-tags"></i></button>
                                    </form>
                                </td>
                            </tr>
                            <%
                        });
                        %>
                            <tr>
                                <td><p>Cash</p></td>
                                <td><p></p></td>
                                <td>
                                    <p class="allocation"><%= data.capital_allocation %>%</p>
                                    <div class="progress"><div class="progress-bar progress-bar-success" style="width: <%= data.capital_allocation %>%"></div></div>
                                </td>
                                <td><p>$<%= data.investment_capital %></p></td>
                                <td><p></p></td>
                                <td><p></p></td>
                            </tr>
                        </tbody>
                    </table>
                    <% if(data.my_formula_stocks.length == 0) { %>
                    <p class="no-assets">You don't have any assets in your portfolio.</p>
                    <% } %>
                </div> <!-- End, My Formula Stocks -->

                <div class="asset_table">
                    <h4>My Other Stocks</h4>
                    <p class="subheader">Based on an investment of $<%= data.os_invested %></p>
                    <table>
                        <thead>
                            <th>Asset</th>
                            <th>Ticker</th>
                            <th>Allocation</th>
                            <th>Value</th>
                            <th>Price</th>
                            <th>Sell</th>
                        </thead>
                        <tbody>
                        <%
                        data.my_other_stocks.forEach(function(el, index) {
                            %>
                            <tr>
                                <td><p><%= el.asset %></p></td>
                                <td><p><%= el.ticker %></p></td>
                                <td>
                                    <p class="allocation"><%= el.allocation %>%</p>
                                    <div class="progress"><div class="progress-bar progress-bar-success" style="width: <%= el.allocation %>%"></div></div>
                                </td>
                                <td><p>$<%= el.value %></p></td>
                                <td><p>$<%= el.price %></p></td>
                                <td>
                                    <form action="/assets/sell" method="post" class="hidden-form">
                                        <input type="hidden" name="ticker" value="<%= el.ticker %>">
                                        <input type="hidden" name="current_price" value="<%= el.price %>">
                                        <button type="submit" class="del-btn-none"><i class="fa fa-tags"></i></button>
                                    </form>
                                </td>
                            </tr>
                            <%
                        });
                        %>
                        </tbody>
                    </table>
                    <% if(data.my_other_stocks.length == 0) { %>
                    <p class="no-assets">You don't have any assets in your portfolio.</p>
                    <% } %>
                </div> <!-- End, My Other Stocks -->
            </div> <!-- End, Tables Column -->

            <div class="col-md-4">
                <div id="addStock" class="well bs-component">
                    <h4>Add a Stock</h4>
                    <form id="addStocks" action="/assets/buy" method="POST">
                        <div class="form-group">
                            <label for="asset">Asset Name</label>
                            <input type="text" class="form-control" id="asset" name="asset" />
                        </div>
                        
                        <div class="form-group">
                            <label for="ticker">Symbol</label>
                            <input type="text" class="form-control" id="ticker" name="ticker" />
                        </div>
                        
                        <div class="form-group">
                            <label for="quantity">Shares</label>
                            <input type="text" class="form-control" id="quantity" name="quantity" />
                        </div>
                        
                        <div class="form-group">
                            <label for="price">Price <span class="subheader">(Per Stock)</span></label>
                            <input type="text" class="form-control" id="price" name="price" />
                        </div>

                        <input type="submit" class="btn btn-primary" value="Add Stock" />
                    </form>
                </div> <!-- End, Add Stock -->
            </div> <!-- End, Add Stock Column -->
        </div> <!-- End, Row -->
    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>
